#%RAML 0.8
---
title: TAS SAMLIdentities
baseUri: http://talentappstore.com/{version}
version: v1

resourceTypes: !include core.include.raml

/SAMLIdentities:
  /{principalType}:
    type:
      tasCollection:
        defaultFieldsList: |
          id, items/personDetail/email,
          items/personDetail/title, items/personDetail/firstName, items/personDetail/lastName 
        maxLimit: 30
        sortableFields: id
        filterCapabilities: |
          simple comparisons on the id field must be supported, e.g.:
          <ul>
          <li>id = 20
          <li>id > 10
          <li>id < 10
          </ul>
    get:
      description: get a list of SAML identities of the specified type (e.g. candidates")
      responses:
        200:
          body:
            application/json:
              schema: !include ../schemas/SAMLIdentities.json
              example: !include ../examples/SAMLIdentities.json
    /{id}:
      get:
        description: get a specific SAML identity by its principleType (e.g. candidates") and id within that
        responses:
          200:
            body:
              application/json:
                schema: !include ../schemas/SAMLIdentity.json
                example: !include ../examples/SAMLIdentity.json
    /bySAML:
      /{entityId}:
        /{nameId}:
          get:
            description: |
              get a specific SAML identity of the specified type (e.g. candidates") by its principleType
              (e.g. "candidate") and its SAML identifiers, i.e. entityId and nameId
            responses:
              200:
                body:
                  application/json:
                    schema: !include ../schemas/SAMLIdentity.json
                    example: !include ../examples/SAMLIdentity.json

      