#%RAML 0.8
---
title: e-BookMobile API
baseUri: http://api.e-bookmobile.com/{version}
version: v1

schemas:
 - resume: |
          {  
            "type":"object",
            "$schema":"http://json-schema.org/draft-04/schema",
            "id":"http://jsonschema.net",
            "properties":{  
              "resume":{  
                "type":"object",
                "properties":{  
                  "file":{  
                    "type":"string"
                  },
                  "content":{  
                    "type":"string"
                  }
                },
                "required":[  
                  "file",
                  "content"
                ]
              }
            },
            "required":[  
              "resume"
            ]
          }


/candidates:
  /{candidateId}:
    /resumes:
      get:
        description: Get a list of all candidate resumes. Only candidates with a resume appear in the list.
        responses:
          200:
            body:
              application/json:
                schema: resume
                example: |
                  {  
                    "resume":{  
                      "candidateId":200,
                      "file":{  
                        "content":"juty876jhglk8976/0+jiyui756",
                        "name":"resumeForBarry.doc"
                      }
                    }
                  }
    /resume:
      get:
        description: Get a specific candidate resume.
        responses:
          200:
            body:
              application/json:
                example: |
                  {  
                    "resume":{  
                      "candidateId":200,
                      "file":{  
                        "content":"juty876jhglk8976/0+jiyui756",
                        "name":"resumeForBarry.doc"
                      }
                    }
                  }

/organizations:
  get:
    description: get a list of all organizations
  /{organizationId}:
    get:
      description: get a specific organization
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "type": "object",
                    "$schema": "http://json-schema.org/draft-03/schema",
                    "id": "http://jsonschema.net",
                    "required": true,
                    "properties": {
                        "songTitle": {
                            "type": "string",
                            "required": true
                        },
                        "albumId": {
                            "type": "string",
                            "required": true,
                            "minLength": 36,
                            "maxLength": 36
                        }
                    }
                }
              example: |
               {
                 "organization": {
                   "id": "10034523",
                   "name": "Research centre, East Coast",
                  },
               }


